section(class="canvas front" id="front")

    div(class="content")

        h2 Гроші де?

        div

            p Good spot to start tracking where your money has gone.

            div

                a(href="#section-2") Cash Calculator
                a(href="#section-3") Budgeting tools

 //   +nav-1("section-1")
